@tailwind base;
@tailwind components;
@tailwind utilities;

.light {
	--containerBackground: 249 250 251;
	--background: 255 255 255;
	--border-dark: 229 231 235;
	--border-light: 243 244 246;
	--card: 255 255 255;
	--text: 75 99 99;
	--title: 55 65 81;
	--ctaText: 238 242 255;
	--brand-light: 79 70 229;
	--brand-dark: 55 48 163;
	--icon: 156 163 175;
}
.dark {
	--containerBackground: 17 24 39;
	--background: 24 33 47;
	--border-dark: 55 65 81;
	--border-light: 30 41 59;
	--card: 255 255 255;
	--text: 209 213 219;
	--title: 229 231 235;
	--ctaText: 238 242 255;
	--brand-light: 79 70 229;
	--brand-dark: 55 48 163;
	--icon: 156 163 175;
}

*,
*::before,
*::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html {
	font-size: 62.5%;
}

body {
	font-family: 'Poppins', sans-serif;
	min-height: 100vh;
	line-height: 1.5;
	font-size: 1.6rem;
	background-color: #9ca3af;
}
.body-dark {
	background-color: rgb(17, 24, 39);
	color: white;
}
.body-light {
	background-color: rgb(249, 250, 251);
	color: black;
}
@layer components {
	.section-wrapper {
		@apply w-full overflow-y-auto flex flex-col grow px-8 py-8 md:px-16 md:py-16 space-y-10 max-w-[1280px] mx-auto h-auto min-h-[80vh];
	}
	.small-button-table {
		@apply block w-full px-10 py-5 text-text hover:bg-gray-200 focus:outline-none;
	}
}
::-webkit-scrollbar {
	display: none; /* Safari and Chrome */
}

.active .styledNav-icon {
	color: #4f46e5;
}
.styledNav-icon {
	width: 2.4rem;
	height: 2.4rem;
	transition: all 0.3s;
	color: #9ca3af;
}
