@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
	/* Shadows */
	--shadow-sm: 0 1px 2px rgba(0, 0, 0, 0.04);
	--shadow-md: 0px 0.6rem 2.4rem rgba(0, 0, 0, 0.06);
	/* Other shadows... */

	/* Border radius */
	--border-radius-tiny: 3px;
	--border-radius-sm: 5px;
	/* Other border radius... */
}

.no-scrollbar::-webkit-scrollbar {
	display: none;
}

*,
*::before,
*::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html {
	font-size: 62.5%;
}

body {
	font-family: 'Poppins', sans-serif;
	min-height: 100vh;
	line-height: 1.5;
	font-size: 1.4rem;
	color: #374151;
}

@layer components {
	.section-wrapper {
		@apply w-full px-4 py-8 md:px-16 md:py-16 space-y-10 max-w-[1280px] mx-auto h-auto min-h-[80vh];
	}
}

.navLink.active {
	color: black;
	background-color: #e5e7eb;
}
.active .styledNav-icon {
	color: #4f46e5;
}
.styledNav-icon {
	width: 2.4rem;
	height: 2.4rem;
	transition: all 0.3s;
	color: #9ca3af;
}
